body a:hover {
  text-decoration: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/**************** Header **************************/
.header {
  font-weight: 800;
  text-align: center;
  font-family: 'Alex Brush', cursive;
  width: 100%;
}
#headline {
  font-size: 6em;
  margin-bottom: 0;
  color: black;
}
#subline {
  font-size: 2.5em;
  color: rgb(2,151,156);
  padding: .2em 0;
  margin-top: 0;
}

/**************** End Header **************************/

/**************** Navigation **************************/
#myNav {
    background-color: #fff;
    border: none;
}

#toggleName {
  font-family: 'Alex Brush', cursive;
  text-transform: capitalize;
  font-size: 3em;
  color: black;
  background-color: #fff;
}

#navigation {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
  .nav li {
    vertical-align: middle;
    padding: 0;
  }
  .nav li a:hover {
    color: rgb(2,151,156);
  }

ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.15em;
  letter-spacing: 0.05em;
}
.navListItem {
  color: rgb(228,85,77);
}

.navbar-toggle {
  background-color: rgb(2,151,156);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.picshar {
  margin: 0 auto;
}

/**************** End Navigation *********************/


/******************* Footer **************************/

footer {
  min-height: 7em;
  background-color: rgb(71,71,71);
  color: rgb(255,255,255);
  text-align: center;
  padding: 20px 0 50px 0;
}

#footer-name {
  font-weight: 800;
  font-family: 'Alex Brush', cursive;
  font-size: 3em;
}
#footer-title {
  font-family: 'Alex Brush', cursive;
  font-size: 2em;
}
#footer-navigation {
  border-top: 1.5px solid #ddd;
  border-bottom: 1.5px solid #ddd;
}

.footer-nav-li {
  color: rgb(2,151,156);
}

.credits {
  text-transform: uppercase;
  /*font-weight: bold;*/
  font-size: 1.15em;
  letter-spacing: 0.05em;
  margin-top: 10px;
}

/***************** End Footer *************************/

/***************** Media Queries *************************/

@media screen and (min-width: 576px) {

  #toggleName {
    display: none;
  }

}

/**************** End Media Queries ***********************/

/*********** Business Card colors ***************
Front background:
  R: 237;
  G: 247;
  B: 160;

Front green leaves:
  R: 151;
  G: 205;
  B: 95;

Back background:
  R: 242;
  G: 250;
  B: 201;

Back pot:
  R: 227;
  G: 233;
  B: 83;
/*************************************************/















































/***************** Home Page About************************/
#about-row {
  margin: 5% auto;
  text-align: center;
}

.standout-text {
  font-weight: bold;
  text-transform: uppercase;
}
#client-sig {
  font-family: 'Alex Brush', cursive;
  font-size: 2em;
  color: #333;
}
 .body-text {
  font-size: 1.125em;
  line-height: 1.7em;
  margin-top: 10px;
  width: 92%;
  text-rendering: optimizeLegibility;
}

#lets-talk {
  background-color: rgb(2,151,156);
  color: #fff;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
}

.btn-primary {
  font-size: 2.75rem;
  background-color: rgb(228,85,77);
  border-color: rgb(200,85,77);
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem 2.75rem;

  transition: background-color 300ms ease-out;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

.btn-primary:hover {
  background-color: rgb(200,85,77);
  border-color: rgb(200,85,77);
/*  opacity: .7;*/
}







/***************** Home Page About************************/



























