body {
  background-color: rgb(242,250,201);
}

nav {
  text-align: center;
}
  .navs {
    text-align: center;
  }
  #headline {
    font-weight: 800;
    font-size: 5em;
  }

  #subline {
    font-weight: 800;
  }



/*********** Business Card colors ***************
Front background:
  R: 237;
  G: 247;
  B: 160;

Front green leaves:
  R: 151;
  G: 205;
  B: 95;

Back background:
  R: 242;
  G: 250;
  B: 201;

Back pot:
  R: 227;
  G: 233;
  B: 83;
*************************************************/
