body a:hover {
  text-decoration: none;
}

p {
  font-size: 1.25em;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/**************** Header **************************/
.header {
  font-weight: 800;
  text-align: center;
  font-family: 'Alex Brush', cursive;
  width: 100%;
}
#headline {
  font-size: 6em;
  margin-bottom: 0;
  color: black;
}
#subline {
  font-size: 2.5em;
  color: rgb(2,151,156);
  padding: .2em 0;
  margin-top: 0;
}

/**************** End Header **************************/

/**************** Navigation **************************/
#myNav {
    background-color: #fff;
    border: none;
}

#toggleName {
  font-family: 'Alex Brush', cursive;
  text-transform: capitalize;
  font-size: 3em;
  color: black;
  background-color: #fff;
}

#navigation {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
  .nav li {
    vertical-align: middle;
    padding: 0;
  }
  .nav li a.selected, .nav li a:hover {
    color: rgb(2,151,156);
    background-color: #eee;
  }

/*  .nav li a.selected {
    color: rgb(2,151,156);
    background-color: #eee;
    padding: 10px 15px;
  }*/

ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.15em;
  letter-spacing: 0.05em;
}
.navListItem {
  color: rgb(228,85,77);
}

.navbar-toggle {
  background-color: rgb(2,151,156);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.picshar {
  margin: 0 auto;
}

/**************** End Navigation *********************/


/******************* Footer **************************/

footer {
  min-height: 7em;
  background-color: rgb(71,71,71);
  color: rgb(255,255,255);
  text-align: center;
  padding: 20px 0 50px 0;
}

#footer-name {
  font-weight: 800;
  font-family: 'Alex Brush', cursive;
  font-size: 3em;
}
#footer-title {
  font-family: 'Alex Brush', cursive;
  font-size: 2em;
}
#footer-navigation {
  border-top: 1.5px solid #ddd;
  border-bottom: 1.5px solid #ddd;
}

.footer-nav-li {
  color: rgb(2,151,156);
}

.credits {
  text-transform: uppercase;
  /*font-weight: bold;*/
  font-size: 1.15em;
  letter-spacing: 0.05em;
  margin-top: 10px;
}

/***************** End Footer *************************/

/***************** Media Queries *************************/

@media screen and (min-width: 576px) {

  #toggleName {
    display: none;
  }

}

@media screen and (min-width: 992px) {

  div#client-quote {
    margin-top: 5em;
  }

}

/**************** End Media Queries ***********************/

/*********** Business Card colors ***************
Front background:
  R: 237;
  G: 247;
  B: 160;

Front green leaves:
  R: 151;
  G: 205;
  B: 95;

Back background:
  R: 242;
  G: 250;
  B: 201;

Back pot:
  R: 227;
  G: 233;
  B: 83;
/*************************************************/




/*contact information*/
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.dhavan{
  padding:5em 0px;
  background-color: rgb(2,151,156);
  text-align:center;
}
.dhavan-bottom p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  width: 84%;
  line-height: 1.8em;
  word-spacing: 3px;
  margin-top: 3em;
}
/*.dhavan-right h3 {
  color: #e4e4e4;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0px;
  text-align: left;
  font-family: 'Alex Brush', cursive;
}*/
.dhavan-right,.dhavan-left {
  display: inline-block;
  vertical-align: middle;
}
.dhavan-right {
  margin-left: 2em;
}
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/********contact page******************/
/*--starts-contact--*/
.contact{
  position:relative;
}
.contact-top {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 32%;
  /*border-radius: 50%;*/
  background: rgba(255, 255, 255, 0.9);
  height: 74%;
  padding-top: 6em;
  text-align: center;
  border: 1px solid rgba(153, 153, 153, 0.6);
}
.contact iframe{
  width:100%;
  height:650px;
}
.contact-top input[type="text"] {
  padding: 10px 10px;
  width: 55%;
  font-size: 14px;
  margin: 6px 0px;
  border: 1px solid #d8d8d8;
  color: #B7B7B7;
  background: none;
  /*background: #ffffff;*/
  -webkit-appearance: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
.contact-top textarea {
  height: 8em;
  padding: 10px 0px 0px 10px;
  resize: none;
  width: 55%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-appearance: none;
  margin: 6px 0px;
  border: 1px solid #d8d8d8;
  color: #B7B7B7;
  background: none;
  /*background: #ffffff;*/
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
}
.sub-button {
  margin-top: 20px;
}
.contact-top input[type="submit"]{
  background:url(../images/yes.png) no-repeat;
  width:66px;
  height:67px;
  display:block;
  border:none;
  outline:none;
  -webkit-appearance: none;
  margin: 0 auto;
}
#contact-sig {
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
#contact-row {
  /*margin: 2.5% auto;*/
  text-align: center;
  background-color: rgb(2,151,156);
  color: #fff;
  padding: 2em 0;
  margin-top: 0;
}
/*Different Devices*/
@media only screen and (max-width: 1366px){
.contact iframe {
  height: 600px;
}
.contact-top {
  /*width: 50%;*/
  height: 66%;
  padding-top: 1em;
}
}
@media only screen and (max-width: 1280px){
.contact-top {
  height: 70%;
  top: 14%;
}
.contact-top input[type="text"] {
  width: 60%;
}
.contact-top textarea {
  width: 60%;
}
}
@media only screen and (max-width: 1024px){
.dhavan-right h3 {
  font-size: 1.6em;
}
.dhavan-bottom p {
  font-size: 17px;
  width: 95%;
}

.contact iframe {
  height: 530px;
}
.contact-top {
  height: 74%;
  width: 40%;
  left: 30%;
  padding-top: 4em;
}
.contact-top input[type="text"],.contact-top textarea{
  width: 65%;
}
.sub-button {
  margin-top: 10px;
}
}
@media only screen and (max-width: 768px){
.dhavan-bottom p {
  font-size: 16px;
  width: 100%;
}
.dhavan {
  padding: 3em 0px;
}
.contact iframe {
  height: 400px;
}
.contact-top {
  padding-top: 3em;
}
.contact-top input[type="submit"] {
  width: 50px;
  height: 50px;
  background-size: 80%;
}
.contact-top input[type="text"], .contact-top textarea {
  width: 60%;
  padding: 5px 8px;
  font-size: 13px;
  margin: 3px 0px;
}
.team-gallery {
  padding: 2em 0px 3em 0px;
}
.team-gallery-top p{
  width: 70%;
}
.team-gallery-top h3{
  font-size: 2.2em;
}
.team-left-top {
  width: 50%;
  float: left;
  margin: 10px 0px;
}
}
@media (max-width: 640px){
.dhavan-right h3 {
  font-size: 1.4em;
}
.dhavan {
  padding: 2em 0px;
}
.dhavan-bottom p {
  font-size: 15px;
  width: 100%;
  margin-top: 2em;
  line-height: 1.7em;
}

.contact iframe {
  height: 330px;
}
.contact-top textarea {
  height: 6em;
}
.contact-top {
  padding-top: 2em;
}
.sub-button {
  margin-top: 3px;
}
.team-gallery-top p{
  width: 85%;
}
.team-left-bottom h4 {
  font-size: 18px;
}
}
@media only screen and (max-width: 480px){
.dhavan-left img {
  width: 85%;
}
.dhavan-right img {
  width: 85%;
}
.dhavan-right {
  margin-left: 0em;
}
.dhavan-bottom p {
  margin-top: 1.2em;
}

.contact iframe {
  height: 300px;
}
.contact-top {
  height: 84%;
  width: 58%;
  top: 7%;
  left: 23%;
}
.contact-top {
  padding-top: 2.5em;
}
.team-gallery {
  padding: 8px 0px 2em 0px;
}
.team-gallery-top h3{
  font-size: 1.8em;
}
.team-gallery-top p{
  width: 95%;
}
.team-gallery-top {
  margin-bottom: 1em;
}
.team-left-bottom {
  padding: 12px 0px;
}
}
@media (max-width:320px){
.dhavan-left img {
  width: 70%;
}
.dhavan-right h3 {
  font-size: 1.2em;
  text-align: center;
}
.dhavan-right img {
  width: 70%;
}
.dhavan-right {
  margin-left: 0em;
}
.dhavan-bottom p {
  margin-top: 1.2em;
  overflow: hidden;
  height: 82px;
}
.contact iframe {
  height: 300px;
}
.contact iframe {
  height: 265px;
}
.contact-top {
  width: 76%;
  height: 84%;
  left: 13%;
  top: 7%;
  padding-top: 2em;
}
.contact-top input[type="text"], .contact-top textarea {
  width: 62%;
  padding: 3px 8px;
  font-size: 12px;
}
.contact-top input[type="submit"] {
  width: 45px;
  height: 45px;
  background-size: 74%;
}
.team-gallery-top h3{
  font-size: 1.4em;
}
.team-gallery-top p{
  width: 100%;
  overflow: hidden;
  height: 46px;
  font-size: 15px;
}
.team-gallery-top {
  margin-bottom: 1em;
}
.team-left-top {
  width: 100%;
  margin: 7px 0px;
}
.team-left-bottom h4 {
  font-size: 17px;
}
.team-left-bottom p {
  font-size: 14px;
}
.bton {
  margin: 1em 0px 7px 0px;
}
}
/*--ends-contact--*/

/*SLIDES TEXT COLOR*/
.carousel-caption {
  color: #000000;
}
#textcolor {
  color: #FFFFFF;
}
/*village reader page*/
.team-gallery {
  background: #f5f5f5;
  padding:3em 0px
}
.team-gallery-top h3{
  color:#4c505d;
  font-size:2.5em;
  margin:0px 0px 10px 0px;
  font-weight:700;
  text-align:center;
}
.team-gallery-top p{
  color: #4c505d;
  font-size: 16px;
  font-weight: 400;
  width: 79%;
  margin: 0 auto;
  text-align: center;
}
.team-gallery-top{
  text-align:center;
  margin-bottom: 2em;
}
.team-left-top img{
  width:100%;
}
.team-left-top{
  text-align:center;
}
.team-left-bottom h4 {
  font-size: 20px;
  font-weight: 600;
  color: #4c505d;
  margin: 0px 0px 5px 0px;
}
.team-left-bottom p{
  font-size: 15px;
  color: #4c505d;
}
.team-left-bottom {
  background: #fff;
  padding: 20px 0px;
}
.bton{
  margin: 1.2em 0px 7px 0px;
}
.bton a{
  color:#fff;
  background:#55adb7;
  padding:6px 20px;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  outline: none;
}
.bton a:hover{
  background:#00d089;
  text-decoration:none;
  transition: all 0.3s ease;
         -webkit-transition: all 0.3s ease;
         -moz-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
}








































































































































































































































































































































/***************** Home Page About************************/
#about-row {
  margin: 2.5% auto;
  text-align: center;
}

.standout-text {
  font-weight: bold;
  text-transform: uppercase;
}

#client-sig {
  font-family: 'Alex Brush', cursive;
  font-size: 2em;
  color: #333;
}
 .body-text {
  font-size: 1.125em;
  line-height: 1.7em;
  margin-top: 10px;
  width: 92%;
  text-rendering: optimizeLegibility;
}

#lets-talk {
  background-color: rgb(2,151,156);
  color: #fff;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
}

#not-sure {
  font-size: 1.55em;
}

.btn-primary {
  font-size: 2.75rem;
  background-color: rgb(228,85,77);
  border-color: rgb(200,85,77);
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem 2.75rem;

  transition: background-color 300ms ease-out;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

.btn-primary:hover {
  background-color: rgb(200,85,77);
  border-color: rgb(200,85,77);
/*  opacity: .7;*/
}


/***************** Home Page About************************/


/***************** About ************************/

#sheila-pic {
  min-width: 200px;
  max-width: 200px;
}

.about-sig {
  border-top: 2px solid rgb(71,71,71);
  border-bottom: 2px solid rgb(71,71,71);
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Alex Brush', cursive;
  font-size: 2.25em;
  color: #333;
}


@media screen and (max-width: 767px) {

  #about-sig {
    margin-top: 20px;
  }

}

/***************** About ************************/












